* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 100px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.1);
}

.header .navLinks {
  list-style: none;
}

.header .navLinks li {
  display: inline-block;
  padding: 0 20px;
}

.header .navLinks li:hover {
  transform: scale(1.1);
}

.header .navLinks a {
  color: beige;
  font-size: 700;
  text-decoration: none;
}

.header .navLinks a:hover {
  color: wheat;
}

.header .carrito img {
  height: 20px;
  width: auto;
}



body {
  background-color: rgb(243, 199, 199);
  display: flex;
  flex-flow: column nowrap;
}

.busqueda {
  order: 1;
  padding-bottom: 30px;
}

.futuroCarrousel {
  order: 2;
  align-self: center;
  padding-bottom: 30px;
}

.productosDestacados {
  order: 3;
  align-self: center;
}

.productosDestacados, h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.marcas {
  order: 4;
  align-self: center;
}

.adidasLogo {
  width: 150px;
  height: 100%;
  padding: 50px 30px 50px 30px;
  align-self: center;
}

.nikeLogo {
  width: 150px;
  height: 100%;
  padding: 50px 30px 80px 30px;
  align-self: center;
}

hr {
  order: 5;
  border: none;
  border-top: 1px solid black;
  padding-bottom: 0px;
}

footer {
  order: 6;
  background-color: rgba(238, 87, 87, 0.314);
  padding: 20px 0px;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footerContent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footerTitle {
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.footerColumn {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-basis: 30%;
  margin-bottom: 20px;
  background-color: palevioletred;
  border: 1px black dotted;
  justify-content: space-between;
  align-items: center;
}

.h3Footer {
  background-color: rgba(255, 0, 0, 0.306);
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
}

h3 a {
  text-decoration: none;
  color: black;
}

h4 {
  justify-self: center;
  align-self: center;
  text-align: center;
  padding-left: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
}

ul li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul li a {
  color: black;
  text-decoration: none;
  padding: 0px;
}

.footerImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerImage img {
  width: 50px;
  height: 50px;
}

.footerBottom {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.productos {
  padding: 10px;
}

.productos h2 {
  text-align: center;
  padding-top: 30px;
}

.productos img {
  padding: 5px;
  width: 250px;
  height: 250px;
}

.comoComprar {
  display: flex;
  flex-flow: column nowrap;
  justify-self: center;
  align-items: center;
  padding: 20px;
}

.comoComprar h2 {
  justify-self: start;
  padding-left: 50px;
}

.comoComprarContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.comoComprarContent p {
  text-align: start;
  text-indent:20px;
}

.imagenTutorial {
  height: 500px;
  width: 500px;
}

.videoTutorial {
  padding: 10px;
}

.infoContent {
  padding: 20px;
}

.h3Nosotros {
  padding-left: 15px;
}

.nosotros p {
  text-indent: 40px;
}

.guiaTalles {
  display: flex;
  flex-flow: column nowrap;
}

.h3Guia {
  padding-left: 15px;
  text-align: start;
}

.guiaTexto {
  text-indent: 40px;
}

.guiaArchivo {
  text-align: center;
}

.h3Politica {
  padding-left: 15px;
  text-align: start;
}

.politicaTexto {
  text-indent: 40px;
}

.contactoContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px;
}

.column {
  flex: 1;
}

.h3Contacto {
  padding-left: 15px;
  text-align: start;
}

.contactoForm {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 40px;
}

.contactoForm form label {
  border: 1px solid black;
  border-radius: 0;
  padding: 2px;
}

.inputContacto {
  width: 200px;
}

.formulario {
  align-items: center;
  text-align: start;
  justify-content: space-between;
}

.contactoContentCarrito {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
}
